[submodule "Toolboxes/gspbox"]
	path = toolboxes/gspbox
	url = https://github.com/jhonygiraldo/gspbox
[submodule "Toolboxes/unlocbox"]
	path = toolboxes/unlocbox
	url = https://github.com/epfl-lts2/unlocbox
[submodule "Toolboxes/detectron2"]
	path = toolboxes/detectron2
	url = https://github.com/facebookresearch/detectron2
